<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Guestbook</title>
  </head>
  <body>
    <h1>Hää Ilmottautuminen</h1>
    <form method="POST" action="/add">
      <label for="name">Nimi:</label>
      <input type="text" id="Nimi" name="Nimi" required>
      <br>
      <label for="address">Osoite:</label>
      <input type="text" id="Nimi" name="Nimi" required>
      <br>
      <label for="message">Ruoka allergia tai mahdollinen plus 1:</label>
      <br>
      <textarea id="message" name="message" rows="4" cols="50" required></textarea>
      <br>
      <button type="submit">Lähetä</button>
    </form>
    <h2>Entries:</h2>
    <ul>
      <% for (const entry of entries) { %>
        <li>
          <strong><%= entry.name %>:</strong>
          <%= entry.message %>
          <br>
          <small><%= entry.timestamp %></small>
        </li>
      <% } %>
    </ul>
  </body>
</html>
